.app__menuitem {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.app__menuitem-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__menuitem-sub {
  width: 100%;
  margin: 0.2rem;
}

.app__menuitem-sub p {
  color: #AAAAAA;
}

.app__menuitem-name {
  flex: 1;
}

.app__menuitem-name p {
  color: #dcca87;
}

.app__menuitem-dash {
  width: 70px;
  height: 1px;
  background: var(--color-golden);
  margin: 0 1rem;
}

.app__menuitem-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.p__menuitem {
  font-family: var(--font-base);
  color: var(--color-white);
  font-size: 700;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-size: 20px;
}

.p__sub {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 14px;
}